.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mr {
    margin-right: 5px;
}
.registro-container{
    margin-top: 8%;
    margin-left: 2%;  
    background-color: white;
}
.registro-form-1{
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 1%;
}
.registro-form-1 h3{
    text-align: center;
    color: #333;
}
.registro-form-2{
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 1%;
    background: #0062cc;
}
.registro-form-2 h3{
    text-align: center;
    color: #fff;
}
.registro-container form{
    padding: 1%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.registro-form-1 .btnSubmit{
    color: #fff;
    background-color: #0062cc;
}
.registro-form-2 .btnSubmit{
    background-color: #fff;
    color: #0062cc;
}
.registro-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.registro-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.registro {
    overflow: hidden;
    background-image: url('https://fondosmil.com/fondo/12535.jpg');
    height: 100vh;
    align-items: center;

}